ul{
  top: 0;
  right: 0;
  left: 0;



  width: 100%;
  min-width: 1024px;
  height: 60px;

  background: black;
  color:white;
   list-style-type: none;

}
li{
  float:right;
  position:relative;
  right: 30px;

  letter-spacing: -.01em;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



body{
  font-family: 'Roboto', sans-serif;
  color:black;
  background-image: url(pictures/back.jpg);
  overflow-x: hidden;

}



#about{
  float:left;
  font-size: 30px;
}

form{
  background:#dfe6e9;
  width:650px;
  position:relative;
  left:425px;
  top: 60px;

border: 1px solid black;
padding: 0px;
margin-bottom: 100px;
}


*{
  margin: 0px;
  padding: 0px;
}
